@media(max-width:360px){
    .Headerbg {
        width: 360px;
    }
    .Headerbg h1{
        font-size: 30px;
    }
    .Headerbg p{
        font-size: 12px;
    }
    .Headerbg button{
        padding: 10px 20px;
    }
    .AboutClas p{
        padding: 10px;
    }
    .textinfoAbout{
        width: 360px;
        margin-left: 30px;
    }
    .textinfoAbout p{
        font-size: 8px;
    }
}
@media (max-width:975px) {
    .AboutClas img{
        width: 700px;
    }
    .AboutClas p{
        font-style: 13px;
    }
}
@media (max-width:770px) {
    .AboutClas img{
        width: 700px;
    }
}
@media (max-width:768px) {
    .AboutClas img{
        width: 520px;
    }
}
@media (max-width:575px) {
    .AboutClas img{
        width: 400px;
    }
}
@media (max-width:416px) {
    .AboutClas p{
    font-size: 12px;
    }
    .textinfoAbout{
        width: 400px;
        padding: 5px;
    }
    .AboutClas h2{
        font-size: 25px;
    }
}
@media (max-width:412px) {
    .textinfoAbout{
        width: 100%;
    }
    .AboutClas p{
        padding: 5px;
    }
    .AboutClas h2{
        font-size: 20px;
    }
    .AboutClas img{
        width: 301px;
        height: 209px;
    }
}